@import (css) url("https://fonts.googleapis.com/css?family=Roboto");
@import (css) url("https://fonts.googleapis.com/icon?family=Material+Icons");

@small-screen-up: ~"601px";
@medium-screen-up: ~"993px";
@large-screen-up: ~"1201px";
@small-screen: ~"600px";
@medium-screen: ~"992px";
@large-screen: ~"1200px";

@medium-and-up: ~"only screen and (min-width : @{small-screen-up})";
@large-and-up: ~"only screen and (min-width : @{medium-screen-up})";
@small-and-down: ~"only screen and (max-width : @{small-screen})";
@medium-and-down: ~"only screen and (max-width : @{medium-screen})";
@medium-only: ~"only screen and (min-width : @{small-screen-up}) and (max-width : @{medium-screen})";

@media @large-and-up {
	.nav-container {
		margin-left: 15%;
		margin-right: 15%;
	}
}

#user-menu {
	min-width: 150px;
}

// Remove dotted line aroun links
a {
	outline: 0;
}

html {
	font-family: 'Roboto' !important;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.logged-in {
	img {
		margin-right: 10px;
		width: 50px;
	}
}

// Better flow container
.cards-container {
	column-break-inside: avoid;
	column-count: 1;
	position: relative;
	top: -75vh;
	margin-bottom: -75vh;
	@media @large-and-up {
		column-count: 2;
	}
	.card {
		display: inline-block;
		overflow: visible;
	}
}

.single-post {
	position: relative;
	top: 10vh;
	margin-bottom: 10vh;
}

.card {
	width: 97%;
	@media @large-and-up {
		margin-top: 3% !important;
	}
	.card-image {
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

	.card-title {
		font-weight: 400;
	}

	.card-action {
		a {
			margin: -10px;
		}
	}

	&.login {
		width: 400px;
		height: 450x;

		.card-content {
			width: 320px;

			.input-field {
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}
	}
}

.parallax {
	background-image: url("/img/background.jpg");
	height: 80vh;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media @large-and-up {
		background-attachment: fixed;
		height: 90vh;
	}
}

@import (less) "~materialize-css/dist/css/materialize.min.css";
