doctype html
html
	head
		title=title

		link(rel="stylesheet", href="/css/style.css")

		block header

		meta(charset="UTF-8")
		if (metatags)
			each content, name in metatags
				meta(name=name, content=content)

	body.indigo.lighten-4
		.navbar-fixed
			nav
				.nav-wrapper.nav-container
					a.brand-logo(href="#!") Blog
					a.sidenav-trigger(href="#!", data-target="mobile")
						i.material-icons menu
					ul.right.hide-on-med-and-down
						li
							a(href="#!") Home
						li
							a(href="#!") Blog
						li
							if (user)
								a.dropdown-trigger(href="#!", data-target="user-menu")
									.valign-wrapper.logged-in
										img.circle(src="/img/avatar.png")
										=user.name

								ul.dropdown-content#user-menu
									li
										a(href="#!")
											i.material-icons settings
											| Settings
									li
										a(href="#!")
											i.material-icons mode_edit
											| Manage
									li
										a#logout(href="#!")
											i.material-icons power_settings_new
											| Logout
							else
								a(href="/api/login?redirect_uri=" + originalUrl) Login
					ul.sidenav#mobile
						li
							a(href="#!") Home
						li
							a(href="#!") Blog

		main
			block content

		footer.page-footer.grey.darken-3
			.container
				.row
					.col.l6.s12
						h5.grey-text.text-lighten-4 Footer Content
						p.grey-text.text-lighten-4 Hier komt een korte beschijving
					.col.l4.offset-l2.s12
						h5.white-text Links
						ul
							li
								a.grey-text.text-lighten-4(href="#!") Twitter
							li
								a.grey-text.text-lighten-4(href="#!") Facebook
			.footer-copyright.grey.darken-4
				.container &copy; 2018 Name Here
					a.grey-text.text-lighten-4.right(href="http://mtgames.nl") Made with #[i.material-icons.tiny.red-text favorite] by #[em Tim Huizinga]

		script(type="text/javascript", src="/js/bundle.js")
		script(type="text/javascript", src="/js/main.js")
		block scripts
