doctype html
html
	head
		title "HIER KOMT DE TITEL"

		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css")

		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		block header

	body
		block content

		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js")

		block scripts
