extends ../base

block header
	link(rel="stylesheet", href="/css/editor.css")

block content
	.container
		.section
			.row
				.input-field.col.l7.s12
					input.validate#title(type="text")
					label(for="title") Title
				.input-field.col.l3.s9
					input.datepicker#date(type="text" readonly)
					label(for="date") Publish on
				.input-field.col.l1.s2
					input.timepicker#time(type="text" readonly)
					label(for="time") At
				.col.s1.valign-wrapper
					p
						label
							input.filled-in(type="checkbox", checked="checked")
							span 

				.col.l8.offset-l2.s12
					.card
						.card-content
							span.card-title Title
							#editor(placeholder="test")
						.card-action
							i#card-date Zaterdag, 20 januari 2018
							i , 
							i#card-time 18:30

			.fixed-action-btn.toolbar#fab
				a.btn-floating.btn-large.blue
					i.large.material-icons mode_edit
				ul#toolbar
					if (toolbar)
						each item in toolbar
							li.waves-effect.waves-light
								a(href="#!").toolbar-item(data-name=item.name, data-handler=item.handler)
									i.material-icons=item.icon_name

			.spacer

block scripts
	script(type="text/javascript", src="/js/quill.js")
	script(type="text/javascript", src="/js/editor.js")
