extends ../base

block content
	.container
		.row
			.col.l8.offset-l2.m12.single-post
				.card.z-depth-2
					if (post.image)
						.card-image(style="background-image: url(\"" + post.image + "\");")
							span.card-title=post.title
					.card-content
						if (!post.image)
							span.card-title=post.title
						p=post.content
